DATABASE_URL="postgres://postgres:password@localhost:5432/accounts_development"
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_password
SMTP_DOMAIN=localhost.localdomain
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_HOST=localhost